* {
    font-family: "Poppins", sans-serif;
}

header {
    height: 85px;
    line-height: 85px;
}

.list > ul > li {
    list-style: none;
    display: inline-block;
    font-size: 12.25px !important;
    margin: 0px 2.5px;
    color: #1a1a1a;
}

.list > ul > li > a {
    text-decoration: none;
    color: #1a1a1a;
}

.video {
    margin-top: 380px;
    margin-bottom: 80px;
}

.video > h1 {
    font-size: 64.54px;
    color: #003366;
    font-weight: 400;
}

.waves > img {
    width: 100%;
}

.container-prontex {
    width: 960px;
    margin: auto;
    margin-top: 95px !important;
}

.container-prontex > .row > .sez-left > h6 {
    color: #d20000;
}

.container-prontex > .row > .sez-left > h3 {
    text-transform: uppercase;
    color: #053769;
    font-weight: bold;
    margin-bottom: 30px;
}

.container-prontex > .row > .sez-right {
    font-size: 16px;
    line-height: 1 !important;
    padding: 20px 0px 0px 100px;
}

.container-prontex > .row > .sez-right > .list-flex > img {
    margin: 20px 25px;
    width: 60px;
}

.container-prontex > .row > .sez-right > .list-flex > div {
    margin-top: 20px;
}

.title-blue {
    color: #053769;
    font-size: 20px;
    font-weight: bold;
}

.description {
    overflow-wrap: break-word;
    font-size: 16px;
}

.button-personalized-1 {
    border-radius: 30px;
    border: 5px solid #c1defc;
    font-size: 16px;
    width: 290px;
    height: 50px;
    color: #053769;
    font-weight: bold;
    margin: 75px 0px;
    cursor: pointer;
}

.information-box {
    height: 752px;
    background-color: #e7f7fe;
}

.box {
    height: 571px;
    width: 1029px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid #c1defc;
    background-image: url("../img/bg-image-box.jpg");
    background-repeat: no-repeat;
    background-position: 50% -1%;
    padding: 25px 0 0 0;
}

.box > div > h6 {
    color: #d40d0d;
    text-transform: uppercase;
    font-weight: bold;
}

.box > div > h2 {
    text-transform: uppercase;
    font-size: 32.67px;
    font-weight: bold;
    line-height: 0.9;
    color: #053769;
}

.box > .subtitle > p {
    padding: 0 30px 0 30px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
}

.doctor-advises {
    margin-top: 5px;
    height: 573px;
}

.doc {
    background-image: url("../img/doc.jpg");
    width: 921px;
    height: 573px;
}

.box-advises {
    background-color: #04427c;
    height: 570px;
    color: #fff;
    padding: 143px 460px 0px 75px !important;
}

.box-advises > h6 {
    font-size: 16.63px;
    font-weight: 500;
}

.box-advises > h2 {
    text-transform: uppercase;
    font-size: 32.67px;
    font-weight: bold;
    margin-bottom: 50px;
}

.box-advises > p {
    font-size: 16.63px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 2;
}

.button-personalized {
    border-radius: 30px;
    border: 5px solid #c1defc;
    font-size: 16px;
    width: 290px;
    height: 50px;
    color: #053769;
    font-weight: bold;
    cursor: pointer;
}

#operation {
    margin-bottom: 75px;
}

.operation > h6 {
    color: #00a5ef;
    font-weight: 600;
}

.operation > h5 {
    color: #d40d0d;
    font-weight: bold;
}

.operation > h3 {
    text-transform: uppercase;
    color: #053769;
    font-weight: bold;
}

.sez-p-blue {
    color: #053769;
    font-size: 22.87px;
}

.measurement {
    background-color: #f6fafc;
    padding: 75px 0;
    margin-bottom: 75px;
}

.measurement > div:first-of-type {
    margin-bottom: 50px;
}

.measurement > div > h4 {
    font-weight: bold;
    color: #053769;
}

.measurement > div > h4 > span {
    color: #01a2ec;
}

.steps-img {
    border-radius: 50%;
    height: 194px;
    width: 199px;
    background-color: #00a5ef;
}

.steps-img > img {
    border-radius: 50%;
    height: 188px;
    width: 192px;
}

.steps > * {
    margin-bottom: 32px;
}

.steps > p {
    font-size: 15px;
}

.steps > h2 {
    font-size: 59.31px;
    color: #053769;
    font-weight: 600;
}

.warnings > h6 {
    color: #d40d0d;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30px;
}

/* .sez-values{
    margin-bottom: 1000px;
}
 */
.sez-values > div > h6 {
    color: #d40d0d;
    font-weight: 600;
}

.sez-values > div > h2 {
    color: #003366;
    text-transform: uppercase;
    font-weight: bold;
}

.sez-values > .row {
    margin-top: 80px;
}

.sez-values > .row > div > img {
    width: 205px;
}

.sez-values > .row > div > p:first-of-type {
    color: #00a5ef;
    font-size: 22.87px;
    line-height: 1.2;
}

.sez-values > .row > div > p:last-of-type > span {
    font-weight: 600;
}

.sez-values > .row > div > p:first-of-type > span {
    font-weight: 600;
}

.values-numbers > h4 {
    font-weight: bold;
    color: #053769;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.numbers > div > h2 {
    color: #053769;
    font-weight: 600;
    font-size: 40px;
}

.numbers > div > h6 {
    color: #053769;
    font-weight: 600;
}

.rectangle {
    padding: 0 25px;
}

.red-rectangle {
    background-color: #d20000;
    height: 11.41px;
    width: 100%;
}

.blue-rectangle {
    background-color: #00a5ef;
    height: 11.41px;
    width: 100%;
}

.right-values > h6:last-of-type {
    font-weight: bold;
    color: #d20000;
    margin: 35px 0 60px 24px;
}

.sez-eng {
    margin-bottom: 45px;
}

.sez-eng > ul {
    margin-bottom: 0 !important;
}

.sez-eng > p {
    font-weight: bold;
    margin-left: 24px;
}

.reasons > div:first-of-type {
    padding: 0 !important;
    background-color: #1b4077;
}

.reasons > div:last-of-type {
    background-color: #1b4077;
    color: #fff;
    padding: 45px 0 0 35px;
    font-size: 20px;
}

.reasons > div:last-of-type > div {
    margin: 40px 0;
}

.reasons > div:last-of-type > h2 {
    font-weight: 500;
    font-size: 39.11px;
    margin-left: 6px;
    margin-bottom: 40px;
}

.reasons > div:last-of-type > div > img {
    height: 39px !important;
    line-height: 100%;
}

#faq {
    margin-top: 90px;
}

.questions {
    color: #053769;
    font-size: 26px;
    font-weight: bold;
}

.box-questions {
    height: 58.91px;
    width: 780.5px;
    margin: 10px 0;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(211, 211, 211, 0.9);
    -moz-box-shadow: 3px 3px 5px rgba(211, 211, 211, 0.9);
    -webkit-box-shadow: 3px 3px 5px rgba(211, 211, 211, 0.9);
    -o-box-shadow: 3px 3px 5px rgba(211, 211, 211, 0.9);
    padding: 0 25px;
    font-weight: 500;
}

.container-questions {
    margin-top: 70px;
}

.blue-plus {
    color: #00a5ef;
    font-size: 24px;
    cursor: pointer;
}

.info {
    background-color: #f7f7f7;
    padding: 15px 0;
    margin: 80px 0 48px 0;
    font-size: 12px;
    text-align: center;
}

footer {
    background-image: url("../img/footer-waves.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

footer > div > ul {
    margin: 20px 40px 40px 0;
}

footer > div > ul > li {
    list-style: none;
    display: inline-block;
    font-size: 12.25px !important;
    margin: 0px 5px;
    color: #1a1a1a;
}

footer > div > ul > li > a {
    text-decoration: none;
    color: #1a1a1a;
}

footer > div > ul > li > a:hover {
    text-decoration: none;
    color: #1a1a1a;

}

.contact {
    line-height: 1;
    margin-top: 58px;
}

.contact > .row {
    padding-left: 20px;
}

.contact > .row > div > {
    vertical-align: middle;
}

.contact-details {
    font-size: 12px;
}
